PROJECT_NAME = "bsimvis"

# Server Configuration
APP_HOST=0.0.0.0
APP_PORT=5000

# Redis Configuration (Job Queue)
REDIS_HOST=localhost
REDIS_PORT=6379

# Kvrocks Configuration (Data Storage)
KVROCKS_HOST=localhost
KVROCKS_PORT=6666

# Worker Configuration
WORKERS_COUNT=5